{% extends 'base.html' %} {%block content%}
<!-- about section starts  -->
{% load static %}
<section class="about">
  <div class="content">
    <h3>About Us</h3>
    <p>
      Welcome to our price comparison website for Flipkart and Amazon! Our goal is to help you 
      find the best deals and prices for products across these two popular online marketplaces.
    </p>
    <p>
      Flipkart and Amazon are two of the largest e-commerce platforms in India, offering 
      a wide range of products at competitive prices. However, with so many options available,
      it can be difficult to determine where to find the best deal.
    </p>
      <p>
        That's where we come in. Our website provides a convenient and easy-to-use platform to compare 
        prices for products across both websites. We constantly update our database to ensure that you
        have access to the most up-to-date pricing information for the products you are interested in.
      </p>
      <p>
        Using our website is simple - just enter the name or category of the product you are looking for
        and we will display a list of prices from both Flipkart and Amazon. You can then compare the prices
        side by side to determine which website offers the best deal.
      </p>
      <p>
        We are committed to providing our users with the best possible experience and helping you save money 
        on your online shopping. Thank you for choosing our website as your go-to destination for price 
        comparison between Flipkart and Amazon.
      </p>
  </div>
</section>
{%endblock content%}
<!-- about section ends -->
