{% extends "base.html" %} {% load static %}  {% block content %}


<div class="row my-4">
    <div class="col-md-2"></div>
    <div class="col-md-6">
        <div class="card">
            <div class="row p-3">
                <div class="col-md-8">
                    <table class="table table-borderless">
                        <thead>
                            <span class="h2">Profile Information</span class="h2">
                            <hr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row"><h3>Name</h3></th>
                                <td><h3>{{ user.username }}</h3></td>
                            </tr>
                            <tr>
                                <th scope="row"><h3>Email</h3></th>
                                <td><h3>{{ user.email }}</h3></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>






{% endblock content %}
